.container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 80px);
    box-sizing: border-box;
    justify-content: space-between;
}

.middleContainer {
    display: flex;
    flex-direction: row;
    width: 100vw;
    gap: 1.5vw;
    justify-content: center;
}

.middleLeft, .middleRight {
    width: 48vw;
    background: black;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100vw;
    background: black;
    border-radius: 10px 10px 0 0;
    position: sticky;
    bottom: 0;
    height: calc(100% - (32vw + 131px));
}