.containerA, .containerB, .containerD, .containerD p {
    transition: ease-in-out 0.5s;
}
/* Instant snap - quick and dirty. Notice it doesn't respect transition time. */
.containerA p {
    display: none;
}

.containerA:hover p {
    display: block;
}

/* Quick height -  transists nicely, but you need to either know height ahead of time, or get into virtualisation (ew) */

.containerB {
    height: calc(61px + 70px);
    overflow: hidden;
}

.containerB:hover {
    height: calc(61px + 70px + 153px + 52px);
}

/* font-size and opacity - really pretty, awful UX. */

.containerC p {
    transition: ease-in-out 2s;
    /*font-size: 0;*/
    color: #282c34;
}

.containerC:hover p {
    /*font-size: 26px;*/
    color: #fff;
}

.containerD {
    height: calc(61px + 70px);
    overflow: hidden;
}

.containerD p {
    color: #282c34;
}

.containerD:hover {
    height: calc(61px + 70px + 153px + 26px);
}

.containerD:hover p {
    color: #fff;
}