.container {
    width: 100vw;
    height: calc(100vh - 80px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.container > div {
    box-sizing: border-box;
    height: 100%;
    flex-grow: 1;
    padding: 20px;
}