ul {
    list-style-type: none;
    display: inline-flex;
    margin: auto;
    padding: 0;
    :hover {
        background-color: blue;
    }
}

body {
    color: white;
    text-align: center;
    background-color: black;
}

button {
    background-color: aqua;
    border-color:paleturquoise ;
}
